@import "style";

// TODO: Don't use body
body {
	display: flex;
	flex-direction: column;
}

nav {
	background-color: $content;
	height: 70px;
	
	display: flex;
	justify-content: space-between;

	position: relative;
	z-index: 999;
	box-shadow: 0px 3px 10px gray;

	.left, .right {
		display: flex;
		align-items: center;
		padding: 8px;
	}

	img { height: 100%; }

	a, button {
		margin-right: 20px;
	}
}

main {
	display: grid;
	grid-template-columns: 1.2fr 3fr 1fr;
	height: 100%;

	.locations, .map, .preferences {
		display: flex;
		flex-direction: column;

		&.locations, &.preferences {
			background-color: $background;
			padding: 25px 20px;
		}

		&.locations {
			.establishments {
				flex-grow: 1;
				overflow-y: auto;
				margin-top: 25px;

				.no-establishments {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 20%;
					text-align: center;
					height: 75%;
				}
			}
		}

		&.map {
			background-color: magenta;
		}
	}
}

